* {
    border: none;
    border-radius: 0px;
    font-family: "Hasklig";
    font-size: 12px;
    min-height: 0;
    color: {{ .theme.white }};
}

window#waybar {
    background: {{ .theme.dark }};
}

#window {
    padding: 0px 5px;
    font-size:0.8em;
}

#workspaces, #clock, #custom-music, #window { 
    font-weight: 800;
}

#tray * {
    color: {{ .theme.dark }};
}

/* Workspace Buttons */
#workspaces button label{
    color: {{ .theme.secondary }};
}
#workspaces button.focused label {
    color: {{ .theme.dark }};
}
#workspaces button.focused {
    background: {{ .theme.secondary }}; 
}

#mode {
    background-color: {{ .theme.primary }};
    color: white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding: 0 5px;
    margin: 0 5px;
}


#idle_inhibitor.activated {
    background-color: {{ .theme.secondary }};
    color: {{ .theme.dark }};
}


#custom-music {
    color: {{ .theme.hint }};
    font-size:0.8em;
    padding: 0 20px;
}

#custom-worktime {
    padding: 0 5px;

}

#clock {
    margin: 0;
    color: {{ .theme.hint }};
}


#network.disconnected {
    color: {{ .theme.primary }};
}


#pulseaudio.muted {
    color: {{ .theme.primary }};
}
